$additional_color: #3746a5;
$base_color: #3e4eb8;
$text_color:#4a4a4a;
$headline_color: #485465;
$green :#89c540;
$paragraph_color:#9b9b9b;
$gray: #e3e4e9;
$red:#ec4544;
$yellow:#f0dd38;
$orange:#ffad33;
$panel_color: #f6f6f7;
$sub-sub-item_color:#f9f8f9;
$sub-item_color: #fbfbfc;
$white_color: #fff;

$status-colors: (
  gray: $gray,
  green: $green,
  yellow: $yellow,
  orange: $orange,
  red: $red
);

.base-bg {
  background-color: $base_color;
}

.gray-bg {
  background-color: $gray;
}

.additional-bg {
  background-color: $additional_color;
}

.panel_bg {
  background-color: $panel_color;
}

.sub-item_bg {
  background-color: $sub-item_color;
}

.sub-sub-item_bg {
  background-color: $sub-sub-item_color;
}

.white_bg {
  background-color: white;
}

.headline_color {
  color: $headline_color;
}
.white-color {
  color: $white_color;
}
.text_color {
  color: $text_color;
}
.base-color {
  color: $base_color;
}
.paragraph-color{
  color:$paragraph_color;
}
