<div class="w-menu panel_bg pt-1">
  <div class="white_bg pl-4 mb-1">
    <div class="equipment-menu_item d-flex align-items-center text_color status status_green outline"
         routerLinkActive="base-color" routerLink="/equipment" [routerLinkActiveOptions]="{exact: true}">
      <p class=" text-medium headline3 equipment-menu_item_text">
        Сводная информация
      </p>
    </div>
  </div>
  <div *ngFor="let item of menu | async">
    <div  (click)="openItem(item)" [ngClass]="'status_'+ item.equipmentStatus.toLowerCase() + ''
    + item.active ?'':'opacity'"
         class="equipment-menu_item d-flex white_bg pl-4 align-items-center text_color status status_green outline"
         routerLinkActive="base-color" [routerLink]="'/equipment/' +item.id">
      <p [ngClass]="{opacity:!item.active}" class=" text-medium headline3 equipment-menu_item_text">
        {{item.title}}
      </p>
      <img *ngIf="item.children.length>0"  [ngClass]="{item_open:item.open}"
           src="/assets/img/ic-arrow-grey.svg" alt="">
    </div>
    <div   *ngIf="item.children.length>0 && item.open">
      <div *ngFor="let item of item.children">
        <div (click)="openItem(item)" [ngClass]="'status_'+ item.equipmentStatus.toLowerCase()"
             class="equipment-menu_item deep_2 d-flex sub-item_bg pl-5 align-items-center text_color status status_green outline"
             routerLinkActive="base-color" [routerLink]="'/equipment/' +item.id">
          <p  [ngClass]="{opacity:!item.active}" class=" headline3 equipment-menu_item_text">
            {{item.title}}
          </p>
          <img *ngIf="item.children.length>0"  [ngClass]="{item_open:item.open}"
               src="/assets/img/ic-arrow-grey.svg" alt="">
        </div>
        <div *ngIf="item.children.length>0 && item.open">
          <div *ngFor="let item of item.children">
            <div [ngClass]="'status_'+ item.equipmentStatus.toLowerCase()"
                 class="equipment-menu_item deep_3 d-flex sub-sub-item_bg pl-6 align-items-center text_color status status_green outline"
                 routerLinkActive="base-color" [routerLink]="'/equipment/' +item.id">
              <p [ngClass]="{opacity:!item.active}" class=" paragraph_medium equipment-menu_item_text">
                {{item.title}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
