svg{
  &.scheme {
    padding: 35px;
  }
  @each $name, $value in $status-colors {
    .scheme-#{$name} {
      fill: $value;
      //stroke: $value;
    }
    .scheme-str-#{$name} {
      stroke: $value;
    }
  }
}

