<p class="headline1 headline_color text-medium pb-3">{{breadCrumbs.join(' - ')}}</p>
<div *ngIf="equipment" class="row">
  <div class="col-md">
    <div class="block">
      <p class="headline2 headline_color text-medium pb-1">Общий ИТС, %</p>
      <p class="paragraph-color paragraph_medium pb-3">Вероятность определения
        {{equipment.determinationProbability}}</p>
      <div class="d-flex align-items-end">
        <div *ngFor="let status of statuses" class="base-flex">
        <div [ngClass]="'itc-value itc-value-' + status.color">
          <div *ngIf="status.color === currentStatus" class="itc-value-number white-color">{{equipment.its}}</div>
        </div>
          <p class="text-center paragraph_small paragraph-color">{{status.value}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="block">
      <p class="headline2 headline_color text-medium pb-1">Время до ухудшения</p>
      <p class="paragraph-color paragraph_medium pb-3">Вероятность определения
        {{equipment.determinationProbability}}</p>
      <app-countdown [status]="equipment.equipmentStatus" [timeToFailure]="equipment.failureDate"></app-countdown>
    </div>
  </div>
  <div class="col-md" *ngIf="equipment.modeDate">
    <div class="block d-flex flex-column justify-content-between">
      <div>
        <p class="headline2 text-medium text_color pb-1">В стационарном режиме</p>
        <p class="text_color headline1 text-black">{{formDate(equipment.modeDate)}}</p>
      </div>
      <div>
        <p class="headline2 text-medium text_color pb-1">С запуска</p>
        <p class="text_color headline1 text-black">{{formDate(equipment.startDate)}}</p>
      </div>
    </div>
  </div>
  <div class="col-12 mt-3">
    <div class="block">
      <app-equipment-chart [id]="id"></app-equipment-chart>
    </div>
  </div>
  <div class="col-md mt-2">
    <div  class="block">
     <app-equipment-scheme [id]="id"></app-equipment-scheme>
    </div>
  </div>
</div>
