<div *ngIf="breadCrumbs" class="headline_color paragraph_medium bread pb-3">
  <span *ngFor="let bread of breadCrumbs; let i = index">{{bread + (i+1<breadCrumbs.length ? ' - ' : '')}}
  </span>
</div>
<div *ngIf="equipment" class="row">
  <div *ngIf="equipment.its" class="col-md px-1 px-lg-2">
    <div class="block">
      <p class="headline2 headline_color text-medium pb-1">Общий ИТС, %</p>
      <p class="paragraph-color paragraph_midle pb-3">Вероятность определения
        {{equipment.determinationProbability}}</p>
      <div class="d-flex align-items-end">
        <div *ngFor="let status of statuses" [ngClass]="{'col-md-5': status.color === currentStatus}"
             class="col col-lg p-0">
          <div [ngClass]="'itc-value itc-value-' + status.color">
            <div *ngIf="status.color === currentStatus" class="itc-value-number white-color">{{equipment.its}}</div>
          </div>
          <div class="interest">
            <p [ngClass]="{'d-none': status.color !== currentStatus}"
               class="text-center paragraph_small paragraph-color d-lg-block">
              {{status.value}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md px-1 px-lg-2">
    <div class="block">
      <p class="headline2 headline_color text-medium pb-1">Время до ухудшения</p>
      <div *ngIf="equipment.failureDate == null" class="col-md px-1 px-lg-2">
        <p>Нет данных</p>
      </div>
      <div *ngIf="equipment.failureDate">
        <p class="paragraph-color paragraph_midle pb-3">Вероятность определения
          {{equipment.determinationProbability}}</p>
        <app-countdown [status]="equipment.equipmentStatus" [timeToFailure]="equipment.failureDate"></app-countdown>
      </div>
    </div>
  </div>
  <div class="col-md px-1 px-lg-2" *ngIf="equipment.modeDate">
    <div class="block d-flex flex-column justify-content-between">
      <div>
        <p class="headline2 text-medium text_color pb-1">{{equipment.modeDescription}}</p>
        <p class="text_color headline1 text-black">{{formDate(equipment.modeDate)}}</p>
      </div>
      <div *ngIf="equipment.startDate">
        <p class="headline2 text-medium text_color pb-1">С запуска</p>
        <p class="text_color headline1 text-black">{{formDate(equipment.startDate)}}</p>
      </div>
    </div>
  </div>
  <div class="col-12 mt-3">
    <div *ngIf="equipment.its" class="block">
      <app-equipment-chart [id]="id"></app-equipment-chart>
    </div>
  </div>
  <div class="col-md mt-3">
    <div class="block">
      <p class="headline2 headline_color text-medium pb-3">{{equipment.title}}</p>
      <app-equipment-scheme [id]="id"></app-equipment-scheme>
    </div>
  </div>
  <div class="col-md-12 mt-3">
    <div class="block pb-0">
      <app-equipment-defects [defectMessages]="equipment.defectMessage"></app-equipment-defects>
    </div>
  </div>
  <div class="col-12 mt-3" *ngFor="let sensor of equipment.sensors">
    <div class="block" >
      <app-chart-sensor [sensor]="sensor"></app-chart-sensor>
    </div>
  </div>
</div>
