.equipment-menu {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
}
.equipment-menu_item {
  min-height: 48px;
  cursor: pointer;
  &.status {
    border-right: 4px solid;
    &_green {
      border-color: $green;
    }
    &_gray {
      border-color: $gray;
    }
    &_red {
      border-color: $red;
    }
    &_yellow {
      border-color: $yellow;
    }
    &_orange {
      border-color: $orange;
    }
  }
  .equipment-menu_item_text {
    margin: 5px 0;
    flex: 0 0 218px;
  }
  &.deep_2 {
    min-height: 40px;
    .equipment-menu_item_text {
      flex: 0 0 198px;
    }
  }
  &.deep_3 {
    min-height: 32px;
    .equipment-menu_item_text {
      flex: 0 0 178px;
    }
  }
  img {
    margin-left: 5px;
    &.item_open {
      transform: rotate(180deg);
    }
  }
}
