@import "helpers/color.scss";

.clock-board {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 6px;
  background-color: #ffffff;
  border: 2px solid;
  padding: 10px;
  font-size: 30px;
  font-weight: 900;
  line-height: 1;
  &.status {
    &_green {
      border-color: $green;
    }
    &_gray {
      border-color: $gray;
    }
    &_red {
      border-color: $red;
    }
    &_yellow {
      border-color: $yellow;
    }
    &_orange {
      border-color: $orange;
    }
  }
}

.colon {
  font-size: 32px;
  line-height: 1;
  margin: 0 3px;
}
