<p class="headline2 headline_color text-medium pb-3">Обнаруженные дефекты: 2</p>
<div class="border-gray-top py-3">
  <div class="d-flex">
    <div class="defect-left"></div>
    <p class="paragraph-color paragraph_midle pb-1">
      14 января 2017 20:31:00
    </p>
  </div>
  <div class="d-flex mb-2">
    <div class="defect-left d-flex align-items-center">
      <img src="/assets/img/defect.svg" alt="">
    </div>
    <p class="text-medium headline3 headline_color "> Недостаточность нагрева питательной воды или его отсутствие в
      дополнительной зоне
      охладителя пара</p>
  </div>
  <div class="d-flex">
    <div class="defect-left d-flex align-items-center">
      <img src="/assets/img/ic-maintenance.svg" alt="">
    </div>
    <p class=" headline3 headline_color "> Проверить повреждения разделительной перегородки в коллекторной т
      рубе. Демонтаж и замена поврежденных перегородок</p>
  </div>
</div>
